* {
  margin: 0px;
}
.q {
  margin: 16px 100px;
  display: flex;
  justify-content: space-between;
}
.e {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  padding-right: 60px;
  border-right: 1px solid rgba(196, 196, 196, 1);
}
.w {
  font-size: 15px;
  font-weight: 400;
  color: rgba(107, 107, 107, 1);
}
.r {
  font-size: 16px;
  font-weight: 700;
}
.t {
  display: flex;
  gap: 20px;
}
.y {
  width: 33%;
  padding: 100px;
}
.u {
  font-size: 56px;
  font-weight: 900;
  line-height: 120%;
}
.i {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin-top: 30px;
}
.o {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.p {
  width: 43%;
  padding: 7px;
  border: 1px solid;
  font-size: 15px;
  font-weight: 300;
  border-radius: 5px;
  color: rgba(118, 122, 125, 1);
}
.a {
  background-color: rgba(61, 104, 225, 1);
  color: white;
  font-size: 16px;
  font-weight: 50;
  width: 100%;
  border: none;
  padding: 5px 0px;
  margin-top: 20px;
  border-radius: 3px;
}
.s {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}
.d {
  background-color: rgba(245, 247, 248, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  text-align: center;
}
.f {
  font-size: 40px;
  font-weight: 400;
}
.g {
  display: inline-block;
  padding: 2% 20px;
  line-height: 10px;
  border-radius: 30px;
  background-color: rgba(153, 181, 235, 1);
}
.h {
  background-color: rgba(153, 194, 165, 1);
}
.j {
  background-color: rgba(249, 231, 138, 1);
}
.k {
  background-color: rgba(153, 181, 235, 1);
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.l {
  font-size: 48px;
  font-weight: 900;
}
.z {
  font-size: 30px;
  margin-top: 30px;
  font-weight: 100;
}
.x {
  width: 350px;
  margin: auto;
  margin-top: 40px;
}
.c {
  display: flex;
  align-items: center;
}
.v {
  height: 50%;
}
.b {
  background-color: rgba(153, 194, 165, 1);
}
.n {
  margin: auto;
  margin-top: 20px;
}
.m {
  background-color: rgba(249, 231, 138, 1);
}
.q2 {
  background-color: white;
}
.w2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 225px;
}
.e2 {
  width: 260px;
  border-radius: 20px;
  border: 1px solid rgba(189, 189, 189, 1);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.r2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.t2 {
  font-size: 16px;
  font-weight: 100;
}
.y2 {
  font-size: 16px;
  font-weight: 700;
}
.u2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.i2{
  margin-top: 20px;
}
.o2{
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(174, 174, 174, 1);
}
.p2{
  font-size: 30px;
  font-weight: 600;
}
.a2{
  background-color: rgba(245, 247, 248, 1);
  padding: 40px 300px;
}
.s2{
  text-align: left;
}
.d2{
  width: 330px;
  margin-right: 0px;
}
.f2{
  margin-top: 30px;
}
.g2{
  width: 720px;
  margin: auto;
  margin-top: 20px;
}
.h2{
  margin-right: 20px;
}
.j2{
  margin-top: 40px;
}